body, button, input, select, textarea {
  color: $black;
  font-family: $font-family-base;
  @include font-size(1);
  line-height: 1.75;
}

/*--------------------------------------------------------------
# Headings
--------------------------------------------------------------*/
@import "headings";

/*--------------------------------------------------------------
# Copy
--------------------------------------------------------------*/
@import "copy";
